@model IEnumerable<Entity_Samourai.Samourai>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Force)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arme.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arme.Degats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArtMartials)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Force)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Arme.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Arme.Degats)
        </td>
        <td>
            @foreach (var itoum in item.ArtMartials)
            {
                @itoum.Nom <br/>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }, htmlAttributes: new { @class = "btn btn-primary"} ) 
            @Html.ActionLink("Details", "Details", new { id=item.Id }, htmlAttributes: new { @class = "btn btn-primary"}) 
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }, htmlAttributes: new { @class = "btn btn-primary"})
        </td>
    </tr>
}

</table>
